/*------------------------------------
  #COLORS
------------------------------------*/

$primary: #000;
$secondary: #fff;
/*------------------------------------
  #BASE
------------------------------------*/

$base-font-size: 16px !default;
$base-font-family: Helvetica !default;
$base-font-color: #000;
$grid-columns: 12 !default;
$grid-gutter-width: 32px !default;
$screen-tablet: 768px !default;
$container-tablet: $screen-tablet !default;
$screen-desktop: 992px !default;
$container-desktop: $screen-desktop !default;
$screen-large-desktop: 1200px !default;
$container-large-desktop: $screen-large-desktop !default;
/*------------------------------------
#LAYOUTS
------------------------------------*/

/*------------------------------------
#COMPONENTS
------------------------------------*/